.input {
  width: 100%;
}

.container {
  width: 400px;
  padding: 30px;
  margin: auto;
}

.btn {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  margin: auto;
}
